@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>


<div class="center">

    Here's Our Story<br /><br />

    Founded in 1946, United Way of Delaware (UWD) works to advance the common 
    good by focusing on the three building blocks to a good life: Education, 
    Income and Health. UWD is engaged in a long-term strategy to eliminate the root 
    causes of Delaware's most pressing social problems in New Castle, Kent, and Sussex 
    counties. UWD works collectively with business, government, social service agencies, 
    academic groups, community organizations and concerned individuals to establish
     positive, long-lasting solutions for today and into the future.
    <br /><br />
    <img src="http://www.clker.com/cliparts/m/D/F/v/y/J/people-holding-hands-in-a-circle-md.png" height="80" width="80"/>
    <img src="http://www.clker.com/cliparts/m/D/F/v/y/J/people-holding-hands-in-a-circle-md.png" height="80" width="80" />
    <img src="http://www.clker.com/cliparts/m/D/F/v/y/J/people-holding-hands-in-a-circle-md.png" height="80" width="80" />
    <img src="http://www.clker.com/cliparts/m/D/F/v/y/J/people-holding-hands-in-a-circle-md.png" height="80" width="80" />
    
    <br /><br />
    <b><div class="veryblue">Our mission is to maximize the community’s resources to improve the quality of life 
    for all Delawareans.
    By focusing on the three key areas of Education, Income, and Health—the 
    building blocks of a good life-- we help individuals and families realize their 
    greatest human potential.</div></b>
    </div>