@{
    ViewBag.Title = "Connect with Us";
}

<h2> Find Us On Social Media</h2>
<br />
<a href=" https//www.facebook.com/UnitedWayofDelaware"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS56p0TBH7y5ck83_4WubTWuTB8baCSbfjWKBZPHLtR7MZYt6JzQA" height="40" width="40"/></a>
<a href="https//twitter.com/unitedwayde"><img src="http://www.digi163.com/wp-content/uploads/2016/07/Twitter.png"  height="40" width="40" /></a>
<a href="https://www.youtube.com/channel/UCAyNR3wkHdxe5E0-3xflYcg"><img src="https://lh5.ggpht.com/jZ8XCjpCQWWZ5GLhbjRAufsw3JXePHUJVfEvMH3D055ghq0dyiSP3YxfSc_czPhtCLSO=w300" height="40" width="40"/> </a>

<br /><br />

    <address>
        The Linden Building, Third Floor<br />
        625 North Orange Street<br />
        Wilmington, DE 19801 <br />
        <abbr title="Phone">P:</abbr>
        302.573.3700
    </address>

    <address>
        <strong>Marketing:</strong>   <a href="mailto:marketing@uwde.org">marketing@uwde.org</a> or
        <a href="mailto:doleary@uwde.org">doleary@uwde.org</a>
    </address>

    <div class="row">
        <div class="col-md-4">

            <a href="/Home/About"><img src="http://i318.photobucket.com/albums/mm407/desbby13/about.jpg" border="0" width="150" height="150" /></a>
            <a href="Home/"><img src="http://i318.photobucket.com/albums/mm407/desbby13/home.jpg" border="0" width="150" height="150" /></a>
            <a href="/VolunteerEvents"><img src="http://i318.photobucket.com/albums/mm407/desbby13/volunteer.jpg" border="0" width="150" height="150" /></a>
            <a href="/Donations"><img src="http://i318.photobucket.com/albums/mm407/desbby13/donate.jpg" border="0" width="150" height="150" /></a>
            <a href="/HeroRewards"><img src="http://i318.photobucket.com/albums/mm407/desbby13/herorewards.jpg" border="0" width="150" height="150" /></a>


            <!--<a href="/Home/Contact"><img src="http://i318.photobucket.com/albums/mm407/desbby13/contact.jpg" border="0" width="150" height="150" /></a>-->

        </div>
    </div>
