@{
    ViewBag.Title = "Home Page";
}

<p>
    <div class="center">
    <img src="http://198.100.47.134/images/uploads/logo2.png" height="150" width="300" />
    <h1><marquee>#UWDE</marquee></h1>
<p>
    <a href="Account/Login" class="center btn btn-primary btn-lg">Sign In</a>
    <a href="Account/Register" class="center btn btn-primary btn-lg">Register Today!</a>

    <h6> Log In To Track Your Rewards</h6>
    <div class="row">
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-4">



                    <a href="/VolunteerEvents"><img src="http://i318.photobucket.com/albums/mm407/desbby13/volunteer.jpg" border="0" width="150" height="150" /></a>
                    <a href="/Donations"><img src="http://i318.photobucket.com/albums/mm407/desbby13/donate.jpg" border="0" width="150" height="150" /></a>
                    <a href="/HeroRewards"><img src="http://i318.photobucket.com/albums/mm407/desbby13/herorewards.jpg" border="0" width="150" height="150" /></a>
                    <a href="/Home/About"><img src="http://i318.photobucket.com/albums/mm407/desbby13/about.jpg" border="0" width="150" height="150" /></a>
                    
                    <!--<a href="Home/"><img src="http://i318.photobucket.com/albums/mm407/desbby13/home.jpg" border="0" width="150" height="150" /></a>-->

                    <div class="jumbotron">
                        <h1>The Culture of Giving</h1>
                       <p class="lead">United Way goes beyond temporary fixes to create lasting change in communities around the world. By bringing people and organizations together around innovative solutions, we impact millions of lives every year.</p>
                        <p><a href="/Home/About" class="btn btn-primary btn-lg">GET INVOLVED! &raquo;</a></p>
                    </div>
                    <a href="/Home/Contact"><img src="http://i318.photobucket.com/albums/mm407/desbby13/contact.jpg" border="0" width="150" height="150" /></a>
                </div>
            </div>

                    </div>
                </div>
</div>