
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>

Thank you so much for signing up for the event! We'll be emailing you further details soon.
