@model UnitedWay.Models.VolunteerEvent
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Event Details</h2>

@if (Model.Description != null)
{
    <p>@Model.Description</p>
}
else
{
    <p>Sorry but the @Model.Name event doesn't have details yet. Stay tuned for more updates!</p>
}
