
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HeroRewards Program</h2><br /><br />


<p>
   <br />
    <h1><b>EARN EARN EARN</b> <br /></h1>

    <h4>
    Redeem tickets, dinners, or more from the Delaware area!</h4>

    Track your progress

   <img src=" https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRQnkYsSu-OodbTFcYFDAqgnjwyB4Q6AWFg1m8saqbdB4ZSy-2EKKYZhM_P"/>

    <br />
    <h3>
        Every time you log in you EARN more points!<br />
        -Attend Volunteer Events<br />
        -Become a Donor<br />
        -Always new opportunities<br /><br />
    </h3>
</p>
<div class="row">
    <div class="col-md-4">

        <a href="/Home/About"><img src="http://i318.photobucket.com/albums/mm407/desbby13/about.jpg" border="0" width="150" height="150" /></a>
        <a href="Home/"><img src="http://i318.photobucket.com/albums/mm407/desbby13/home.jpg" border="0" width="150" height="150" /></a>
        <a href="/VolunteerEvents"><img src="http://i318.photobucket.com/albums/mm407/desbby13/volunteer.jpg" border="0" width="150" height="150" /></a>
        <a href="/Donations"><img src="http://i318.photobucket.com/albums/mm407/desbby13/donate.jpg" border="0" width="150" height="150" /></a>
        <!--<a href="/HeroRewards"><img src="http://i318.photobucket.com/albums/mm407/desbby13/herorewards.jpg" border="0" width="150" height="150" /></a>-->


        <a href="/Home/Contact"><img src="http://i318.photobucket.com/albums/mm407/desbby13/contact.jpg" border="0" width="150" height="150" /></a>-->

    </div>
</div>