
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HeroRewards Program</h2><br /><br />


<p>
    <h3>
    Every time you log in you EARN more!<br />
    Attend Volunteer Events<br />
    Become a Donor<br /><br />
        </h3>
    <h1><b>EARN EARN EARN</b> <br /></h1>

    <h4>
    Redeem tickets, dinners, or more from the Delaware area!</h4>




</p>
<div class="row">
    <div class="col-md-4">

        <a href="/Home/About"><img src="http://i318.photobucket.com/albums/mm407/desbby13/about.jpg" border="0" width="150" height="150" /></a>
        <a href="Home/"><img src="http://i318.photobucket.com/albums/mm407/desbby13/home.jpg" border="0" width="150" height="150" /></a>
        <a href="/VolunteerEvents"><img src="http://i318.photobucket.com/albums/mm407/desbby13/volunteer.jpg" border="0" width="150" height="150" /></a>
        <a href="/Donations"><img src="http://i318.photobucket.com/albums/mm407/desbby13/donate.jpg" border="0" width="150" height="150" /></a>
        <!--<a href="/HeroRewards"><img src="http://i318.photobucket.com/albums/mm407/desbby13/herorewards.jpg" border="0" width="150" height="150" /></a>-->


        <a href="/Home/Contact"><img src="http://i318.photobucket.com/albums/mm407/desbby13/contact.jpg" border="0" width="150" height="150" /></a>-->

    </div>
</div>