
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>

<h1>Thank you so much for your donation!</h1>

<img src="http://media1.myfolio.com/users/donatewale/images/l0tcji7p70.jpg" />
<p> <a href="/VolunteerEvents">Here's more ways to contribute</a></p>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1052054614892979',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>