@model UnitedWay.Models.Donation
@{
    ViewBag.Title = "Make a Donation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make a Donation. 
    <br />Be Apart of Change.</h2<br /><br />

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEFtecRfUZh2Uyl-rkyktI6M_497PVE7J4MIF_TDaqpx4aUlALs3OJBw"<br />
<br />

@using (Html.BeginForm("Save", "Donations"))
{
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.TextBoxFor(m => m.Amount, new {@class="form-control", placeholder="Donation amount"})
        </div>
        @Html.ValidationMessageFor(m => m.Amount)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}

<div class="row">
    <div class="col-md-4">

        <a href="/Home/About"><img src="http://i318.photobucket.com/albums/mm407/desbby13/about.jpg" border="0" width="150" height="150" /></a>
        <a href="Home/"><img src="http://i318.photobucket.com/albums/mm407/desbby13/home.jpg" border="0" width="150" height="150" /></a>
        <a href="/VolunteerEvents"><img src="http://i318.photobucket.com/albums/mm407/desbby13/volunteer.jpg" border="0" width="150" height="150" /></a>
        <!--<a href="/Donations"><img src="http://i318.photobucket.com/albums/mm407/desbby13/donate.jpg" border="0" width="150" height="150" /></a>-->
        <a href="/HeroRewards"><img src="http://i318.photobucket.com/albums/mm407/desbby13/herorewards.jpg" border="0" width="150" height="150" /></a>


        <a href="/Home/Contact"><img src="http://i318.photobucket.com/albums/mm407/desbby13/contact.jpg" border="0" width="150" height="150" /></a>

    </div>
</div>